body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #13e2d8e8;
  color: hsl(240, 100%, 1%);
}

.navbar {
  background-color: #13e2d8e8;
  color: hsl(0, 0%, 0%);
  padding: 10px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 0 10px;
  cursor: pointer;
}

.navbar ul li:hover {
  text-decoration: underline;
}

.home-header {
  background-color: #13e2d8e8;
  color: hsl(0, 100%, 0%);
  padding: 20px;
  text-align: center;
}

.about,
.projects,
.resume {
  padding: 20px;
  margin: 20px;
  background-color: #43ddd5e8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link {
  color: rgb(30, 217, 224);
}
.centrar1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aqua;
}
